second-brain.json
{
  "name": "second-brain",
  "nodes": [
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A8SRVECP2",
          "mode": "list",
          "cachedResultName": "sb-inbox"
        },
        "text": "={{$json.content.parts[0].text}}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1632,
        896
      ],
      "id": "71117c6a-59fd-4b1b-a07c-d9d7fd0cc48c",
      "name": "Send a message",
      "webhookId": "44a0c1ae-36f1-4f99-8f13-787e17780819",
      "credentials": {
        "slackApi": {
          "id": "gfvmIjGoJcdGB8Hq",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-events",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "64c2a158-4cde-48a8-941c-21d0851ad219",
      "name": "Webhook",
      "webhookId": "3e212129-3117-4cdb-957d-0caaea680f2a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "49375257-2eea-4337-a329-a028a2a88728",
              "name": "text",
              "value": "={{$json.body.event.text}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "e71748a3-e624-44e2-9fb2-971b03de105c",
      "name": "Extract Text"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "={{$json.text}}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "systemMessage": "You are a strict JSON generator for a Second Brain system.\n\nYour task:\n1. Classify the input into ONE of these types:\n   - people\n   - projects\n   - ideas\n   - admin\n\n2. Based on the type, output JSON that matches the EXACT schema for that type.\n\nYou MUST output valid JSON only.\nNo markdown.\nNo explanation.\nNo extra keys.\nNo missing keys.\n\nSCHEMAS:\n\nIf type = \"people\", output:\n{\n  \"type\": \"people\",\n  \"name\": \"string\",\n  \"context\": \"string\",\n  \"follow_ups\": \"string\",\n  \"confidence\": number\n}\n\nIf type = \"projects\", output:\n{\n  \"type\": \"projects\",\n  \"name\": \"string\",\n  \"status\": \"Active | Waiting | Blocked | Someday | Done\",\n  \"next_action\": \"string\",\n  \"notes\": \"string\",\n  \"confidence\": number\n}\n\nIf type = \"ideas\", output:\n{\n  \"type\": \"ideas\",\n  \"name\": \"string\",\n  \"one_liner\": \"string\",\n  \"notes\": \"string\",\n  \"confidence\": number\n}\n\nIf type = \"admin\", output:\n{\n  \"type\": \"admin\",\n  \"name\": \"string\",\n  \"due_date\": \"YYYY-MM-DD or empty string\",\n  \"confidence\": number\n  \"status\": \"Open | Done\"\n}\n\nRules:\n- Choose the schema strictly based on type\n- Use empty strings if information is missing\n- Confidence must be between 0 and 1\n- If unsure, confidence must be below 0.6\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        368,
        0
      ],
      "id": "936e2951-c116-464c-967b-68092c1521c5",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "2jcmrcpWw6e9iCAn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df894e53-6fe5-4184-9a11-b5b85de70e9f",
              "name": "parsed",
              "value": "={{ JSON.parse($json.content.parts[0].text) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        0
      ],
      "id": "d8b27550-70e6-4e1b-905e-4d8a447bf93c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$node[\"Confidence Gate\"].json.parsed.type}}",
                    "rightValue": "people",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dfbce2b5-aa2d-485c-8238-ec087897c237"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8127b6c8-2860-4cca-a883-35bbffa83d4f",
                    "leftValue": "={{$node[\"Confidence Gate\"].json.parsed.type}}",
                    "rightValue": "projects",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "424d8e27-01bd-4cc2-afaa-f65888c84d99",
                    "leftValue": "={{$node[\"Confidence Gate\"].json.parsed.type}}",
                    "rightValue": "ideas",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "eb24b075-72d8-4d31-aa57-d9d594fba30c",
                    "leftValue": "={{$node[\"Confidence Gate\"].json.parsed.type}}",
                    "rightValue": "admin",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1344,
        -48
      ],
      "id": "80413c83-2288-4068-a363-f7a925211d14",
      "name": "Type Router"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2e42435a-6bb3-8066-81c7-fc7efe616115",
          "mode": "list",
          "cachedResultName": "Inbox Log",
          "cachedResultUrl": "https://www.notion.so/2e42435a6bb3806681c7fc7efe616115"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Captured Text|title",
              "title": "={{$node[\"Extract Text\"].json.text}}"
            },
            {
              "key": "Filed To|select",
              "selectValue": "={{$json.parsed.type}}"
            },
            {
              "key": "Record ID|rich_text",
              "textContent": "={{$execution.id}}"
            },
            {
              "key": "Confidence|number",
              "numberValue": "={{$json.parsed.confidence}}"
            },
            {
              "key": "Timestamp|date",
              "date": "={{$now}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1152,
        -16
      ],
      "id": "0795e605-f328-4ef9-9ef2-c05d07881339",
      "name": "Inbox Log",
      "credentials": {
        "notionApi": {
          "id": "ustHcsOuGfVRY1kM",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "09dd16b0-e446-48eb-b735-aad1528415d7",
              "leftValue": "={{$json.parsed.confidence}}",
              "rightValue": 0.6,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        928,
        0
      ],
      "id": "fb808a77-f62e-4c02-aa36-c7727c146f01",
      "name": "Confidence Gate"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2e42435a-6bb3-8035-8e8c-ffce8eb69455",
          "mode": "list",
          "cachedResultName": "People Database",
          "cachedResultUrl": "https://www.notion.so/2e42435a6bb380358e8cffce8eb69455"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{$node[\"Confidence Gate\"].json.parsed.name}}"
            },
            {
              "key": "Context|rich_text",
              "textContent": "={{$node[\"Confidence Gate\"].json.parsed.context}}"
            },
            {
              "key": "Follow-ups|rich_text",
              "textContent": "={{$node[\"Confidence Gate\"].json.parsed.follow_ups}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1552,
        -256
      ],
      "id": "24513a88-4794-4286-9615-fcc66d930947",
      "name": "People Database",
      "credentials": {
        "notionApi": {
          "id": "ustHcsOuGfVRY1kM",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2e42435a-6bb3-8048-b427-ea8ffc6ad9ea",
          "mode": "list",
          "cachedResultName": "Projects database",
          "cachedResultUrl": "https://www.notion.so/2e42435a6bb38048b427ea8ffc6ad9ea"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{$node[\"Confidence Gate\"].json.parsed.name}}"
            },
            {
              "key": "Notes|rich_text",
              "textContent": "={{$node[\"Confidence Gate\"].json.parsed.notes}}"
            },
            {
              "key": "Next Action|rich_text",
              "textContent": "={{$node[\"Confidence Gate\"].json.parsed.next_action}}"
            },
            {
              "key": "Status|select",
              "selectValue": "={{$node[\"Confidence Gate\"].json.parsed.status}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1648,
        -144
      ],
      "id": "0dd99191-5648-401f-bfe3-b8b5c0d32ac7",
      "name": "Projects Database",
      "credentials": {
        "notionApi": {
          "id": "ustHcsOuGfVRY1kM",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2e42435a-6bb3-8049-a8ba-cab1bd127102",
          "mode": "list",
          "cachedResultName": "Ideas database",
          "cachedResultUrl": "https://www.notion.so/2e42435a6bb38049a8bacab1bd127102"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{$node[\"Confidence Gate\"].json.parsed.name}}"
            },
            {
              "key": "One-liner|rich_text",
              "textContent": "={{$node[\"Confidence Gate\"].json.parsed.one_liner}}"
            },
            {
              "key": "Notes|rich_text",
              "textContent": "={{$node[\"Confidence Gate\"].json.parsed.notes}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1776,
        48
      ],
      "id": "3818f8cc-1393-4ac3-9eba-96551b92edfc",
      "name": "Ideas Database",
      "credentials": {
        "notionApi": {
          "id": "ustHcsOuGfVRY1kM",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2e42435a-6bb3-8007-80fa-e9808a6bdbf3",
          "mode": "list",
          "cachedResultName": "Admin database",
          "cachedResultUrl": "https://www.notion.so/2e42435a6bb3800780fae9808a6bdbf3"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{$node[\"Confidence Gate\"].json.parsed.name}}"
            },
            {
              "key": "Due Date|date",
              "range": "={{$node[\"Confidence Gate\"].json.parsed.due_date}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1616,
        176
      ],
      "id": "e3779f2b-f48e-4473-91f2-b92869f87dd3",
      "name": "Admin Database",
      "credentials": {
        "notionApi": {
          "id": "ustHcsOuGfVRY1kM",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2e42435a-6bb3-8066-81c7-fc7efe616115",
          "mode": "list",
          "cachedResultName": "Inbox Log",
          "cachedResultUrl": "https://www.notion.so/2e42435a6bb3806681c7fc7efe616115"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Captured Text|title",
              "title": "={{$node[\"Extract Text\"].json.text}}"
            },
            {
              "key": "Filed To|select",
              "selectValue": "={{$json.parsed.type}}"
            },
            {
              "key": "Record ID|rich_text",
              "textContent": "={{$execution.id}}"
            },
            {
              "key": "Confidence|number",
              "numberValue": "={{$json.parsed.confidence}}"
            },
            {
              "key": "Timestamp|date",
              "date": "={{$now}}"
            },
            {
              "key": "Needs Review|rich_text",
              "textContent": "Yes"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1120,
        128
      ],
      "id": "a1b4ccaf-867b-4827-8f17-09dc7bce8abf",
      "name": "Inbox Log1",
      "credentials": {
        "notionApi": {
          "id": "ustHcsOuGfVRY1kM",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        224,
        880
      ],
      "id": "b37c42ef-8b07-4091-9bf5-358b8383318e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2e42435a-6bb3-8035-8e8c-ffce8eb69455",
          "mode": "list",
          "cachedResultName": "People Database",
          "cachedResultUrl": "https://www.notion.so/2e42435a6bb380358e8cffce8eb69455"
        },
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Last Edited|last_edited_time",
              "condition": "on_or_before",
              "lastEditedTime": "={{$now.startOf('day').toISO()}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        688,
        640
      ],
      "id": "9b408462-8b60-47fd-929c-4ff299ceaef7",
      "name": "People Log",
      "credentials": {
        "notionApi": {
          "id": "ustHcsOuGfVRY1kM",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2e42435a-6bb3-8049-a8ba-cab1bd127102",
          "mode": "list",
          "cachedResultName": "Ideas database",
          "cachedResultUrl": "https://www.notion.so/2e42435a6bb38049a8bacab1bd127102"
        },
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Last edited time|last_edited_time",
              "condition": "on_or_before",
              "lastEditedTime": "={{$now.startOf('day').toISO()}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        688,
        816
      ],
      "id": "bae2fc0b-6d11-49c7-8443-2def59fbbe7f",
      "name": "Ideas Log",
      "credentials": {
        "notionApi": {
          "id": "ustHcsOuGfVRY1kM",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2e42435a-6bb3-8048-b427-ea8ffc6ad9ea",
          "mode": "list",
          "cachedResultName": "Projects database",
          "cachedResultUrl": "https://www.notion.so/2e42435a6bb38048b427ea8ffc6ad9ea"
        },
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Last edited time|last_edited_time",
              "condition": "on_or_before",
              "lastEditedTime": "={{$now.startOf('day').toISO()}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        688,
        992
      ],
      "id": "c306f827-aeb9-4a87-a082-c7fe7fc2fb09",
      "name": "Projects Log",
      "credentials": {
        "notionApi": {
          "id": "ustHcsOuGfVRY1kM",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2e42435a-6bb3-8007-80fa-e9808a6bdbf3",
          "mode": "list",
          "cachedResultName": "Admin database",
          "cachedResultUrl": "https://www.notion.so/2e42435a6bb3800780fae9808a6bdbf3"
        },
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Last edited time|last_edited_time",
              "condition": "on_or_before",
              "lastEditedTime": "={{$now.startOf('day').toISO()}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        688,
        1184
      ],
      "id": "24c3c088-a987-41d5-9702-8fbdbbfe855e",
      "name": "Admin Log",
      "credentials": {
        "notionApi": {
          "id": "ustHcsOuGfVRY1kM",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        864
      ],
      "id": "396bb0b4-264f-4f46-8c04-ad597833a858",
      "name": "Merge"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=Here is the data from my Notion databases for today's digest:\n\n{{ JSON.stringify($json.all_data, null, 2) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "You are a daily executive assistant.\n\nCreate a concise daily digest.\nMax 150 words.\nTone: calm, direct, practical.\n\nStructure:\n- Today’s focus (max 3 items)\n- Overdue or risky item (if any)\n- Optional small win or progress\n\nRules:\n- Use only the provided data\n- Do not invent items\n- Do not ask questions\n- No emojis\n- Do NOT use markdown. Output plain text only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1280,
        896
      ],
      "id": "486cabf1-1e02-4442-b3dc-6af469ad5d21",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "2jcmrcpWw6e9iCAn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Grab all data from the 4 Notion nodes, regardless of how many runs they had\nconst people = $(\"People Log\").all();\nconst ideas = $(\"Ideas Log\").all();\nconst projects = $(\"Projects Log\").all();\nconst admin = $(\"Admin Log\").all();\n\n// Combine them into one clean list\nconst combined = [\n  ...people,\n  ...ideas,\n  ...projects,\n  ...admin\n].map(item => item.json);\n\n// Return as a single item so the next node (Gemini) only runs ONCE\nreturn [{\n  json: {\n    all_data: combined,\n    count: combined.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        896
      ],
      "id": "b0acba6f-7368-4335-8a2f-8c47a770750d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "## Data Collection Flow \n - Webhook → Receives Slack Events (POST /slack-events)\n - Extract Text → Pulls message text from body.event.text\n - LLM Classifier → Gemini classifies input into people | projects | ideas | admin (strict JSON)\n - JSON Parse → Converts model output text into structured JSON\n - Confidence Gate → confidence > 0.6 auto-file, else mark Needs Review\n - Inbox Log → Logs every message with text, type, confidence, timestamp\n - Type Router → Routes item based on parsed.type\n - People DB → Stores contacts, context, follow-ups\n - Projects DB → Stores project name, status, next action, notes\n - Ideas DB → Stores idea name, one-liner, notes\n - Admin DB → Stores admin tasks with optional due date\n - Needs Review Path → Low-confidence items flagged for manual review",
        "height": 736,
        "width": 2160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -400
      ],
      "typeVersion": 1,
      "id": "ecf6e201-0253-4903-a873-45e04cd8e85b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Daily briefing pipeline overview \n - Schedule Trigger → Runs daily at 9 AM\n - People Log → Fetches People records edited on or before today\n - Ideas Log → Fetches Ideas records edited on or before today\n - Projects Log → Fetches Projects records edited on or before today\n - Admin Log → Fetches Admin records edited on or before today\n - Merge → Combines outputs from all four Notion databases\n - Code (JS) → Flattens all records into a single list and forces single execution\n - LLM Digest → Gemini generates a concise daily executive summary (plain text)\n - Slack Send → Posts the daily digest to #sb-inbox channel\n",
        "height": 784,
        "width": 2160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        592
      ],
      "typeVersion": 1,
      "id": "92ff76aa-bed7-4bcc-99e8-f5328e327fb7",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Confidence Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inbox Log": {
      "main": [
        [
          {
            "node": "Type Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence Gate": {
      "main": [
        [
          {
            "node": "Inbox Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inbox Log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Type Router": {
      "main": [
        [
          {
            "node": "People Database",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Projects Database",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ideas Database",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Admin Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "People Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ideas Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Projects Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Admin Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Log": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Projects Log": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Ideas Log": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "People Log": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "9bb872b2-5aa6-4303-8337-0f50c3afaefc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d7cbb828a936a50dfa3d5a5ef9c93f7be15f9cbfe6b27940f3b6d30ca405fbfd"
  },
  "id": "Gcxw_fdfCplQUT8GSv7JJ",
  "tags": []
}